langchain
openai
langchain_community
python-dotenv
faiss-cpu
ipykernel
bs4
arxiv
pymupdf
wikipedia
sentence_transformers
pandas
langchain_groq
langchain-text-splitters
langchain-openai
langchain_huggingface
langchain-chroma
streamlit
pypdf
